.desc__container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: black;
}

.desc__wrapper {
  margin-bottom: 20px;
}

.desc__title {
  font-size: 32px;
  color: #f4f4f4;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.desc__main {
  font-family: "Avenir", sans-serif;
  font-size: 17.6px;
  line-height: 1.5;
}

.desc__main_text {
  color: #f4f4f4;
  text-align: justify;
}

p {
  text-indent: 2em;
}

.desc__step_title {
  font-size: 24px;
  color: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 500;
}

.desc__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#desc__img {
  display: block;
  max-width: 60%;
  height: auto;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#desc__img_text {
  font-size: 19.2px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -10px;
}

#href_to_wiki {
  text-decoration: none;
  color: #CC3838;
  cursor: pointer;
}
#href_to_wiki:hover {
  text-decoration: underline;
  text-decoration-color: #CC3838;
}

@media screen and (max-width: 768px) {
  .desc__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}